@page
@model SignalRChat.Pages.LogIn.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Log In</title>
</head>
<body>
<div class="container">
    Log In
    <div class="row">
        <div class="col-6" id="error"></div>
    </div>
    <div class="row">
        <div class="col-2">Login: </div>
        <div class="col-4">
            <input type="text" id="loginInput"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">Password: </div>
        <div class="col-4">
            <input type="password" id="passwordInput"/>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button onclick="login()" id="sendButton">Log In</button>
        </div>
    </div>
</div>
</body>
<script type="module" src="~/js/login.js"></script>
</html>