@import '../../styles/variables.scss';

.header {
    @include themify($themes) {
        background-color: themed("background");
        color: themed("onBackground");
    }
    width: 100%;
    padding: .5rem 25%;
    justify-content: space-between;
    display: flex;
}

.header-element {
    margin: 0 .1rem;
}

.home-icon {
    @include themify($themes) {
        background-color: themed("primary");
        color: themed("onPrimary");
    }
    transition: $transition;
    padding: .5rem;
    border-radius: 1rem;
}

.home-icon:hover {
    @include themify($themes) {
        background-color: themed("onPrimary");
        color: themed("primary");
    }
    border-radius: .5rem;
}

.input-search {
    flex: 1;
}